
<div class="row">
  <div class="span7">
    <div class="span7">
      <div class="bs-docs">
        <h3 class="title"><%= h @other_user_name+"\'s"%> feed</h3>
        <div class="others-feed">
          <div class="span6 left">
            <% @their_photos.each do |photo| %>
              <div class="medium-photo other" data-user="<%= h photo.user.user_name %>">
                <a id="single_<%= h @other_user_name %>" class="fancybox-button" rel="fancybox-button" data-thumbnail="<%= h photo.photo.url(:medium) %>" href="<%= h photo.photo.url(:big) %>" title="<%= h photo.user.user_name %> - <%= h photo.photo_file_name[0...-4] %>">
                  <img class="img-polaroid" data-user="<%= h photo.user.user_name %>" src="<%= h photo.photo.url(:medium) %>" alt="<%= h photo.photo_file_name %>">
                </a>
                <div class="label labelbottom">
                  <strong class="name"><%= h photo.user.user_name %></strong>
                  <a class="follow" onclick="window.location.reload( true );" href="/follow/<%= h photo.user.user_name %>">follow</a>
                  <a class="profile" onclick="window.location.reload( true );" href="/profile/<%= h photo.user.user_name %>">details</a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span4">
    <div class="span3">
      <div class="bs-docs">
        <h4 class="text-info" >You are not following:</h4>
        <div id="templist">
          <ul class="unstyled">
          <% @not_following.each do |user| %>
            <li><%= h user %> -
              <a onClick="window.location.reload( true );" href="/follow/<%= h user %>">follow</a>
              <a onClcik="window.location.reload( true );" href="/profile/<%= h user %>">details</a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="span3">
      <div class="bs-docs">
        <h4 class="text-info" ><%= h@other_user_name+"\'s"%> following:</h4>
        <ul class ="unstyled">
          <% @following.each do |user| %>
            <li><%= h user %> -
            <a onClick="window.location.reload( true );" href="/follow/<%= h user %>">follow</a>
            <a onClick="window.location.reload( true );"href="/profile/<%= h user %>">details</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="span3">
      <div class="bs-docs">
        <h4 class="text-info"><%= h@other_user_name+"\'s"%> followers:</h4>
        <ul class="unstyled">
          <% @followed.each do |user| %>
            <li><%= huser %> -
              <a onClick="window.location.reload( true );" href="/follow/<%= h user %>">follow</a>
              <a  onClick="window.location.reload( true);" href="/profile/<%= h user %>">details</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
