
<div class="row">
  <div class="span4">
    <div class="bs-docs">
      <h3>My feed</h3>

      <div class="my-feed">
        <div class="span3 left">
          <% @myphotos.each do |photo| %>
          <div class="medium-photo" data-user="<%= photo.user.user_name %>">

              <a id="single_<%= @myphotos.index(photo) %>" class="fancybox-button" rel="fancybox-button" data-thumbnail="<%= photo.photo.url(:medium) %>" href="<%= photo.photo.url(:big) %>" title="<%= photo.user.user_name %> - <%= photo.photo_file_name[0...-4] %>">

              <img class="img-polaroid" data-user="<%= photo.user.user_name %>" src="<%= photo.photo.url(:medium) %>" alt="<%= photo.photo_file_name %>">
            </a>
          <div class="label labelbottom">
            <strong class="name"></strong>


            <a class="delete text-error text-delete" onclick="window.location.reload( true );" href="/delete/<%= photo.id %>"><strong>delete</strong></a>
            <a class="profile"></a>
          </div>
        </div>
        <% end %>

      </div>
    </div>
    </div>
  </div>

  <div class="span4">
    <div class="bs-docs">
      <h3>Following</h3>

      <div class="my-feed">
        <div class="span3 right">
          <% @followingphotos.each do |photo| %>
            <div class="medium-photo" data-user="<%= photo.user.user_name %>">

                <a id="single_<%= @followingphotos.index(photo) %>" class="fancybox-button" rel="fancybox-button" data-thumbnail="<%= photo.photo.url(:medium) %>" href="<%= photo.photo.url(:big) %>" title="<%= photo.user.user_name %> - <%= photo.photo_file_name[0...-4] %>">


                <img class="img-polaroid" src="<%= photo.photo.url(:medium) %>" alt="<%= photo.photo_file_name %>"></a>

              <div class="label labelbottom"><strong class="name"><%= photo.user.user_name %></strong><a class="follow" onclick="window.location.reload( true );" href="/unfollow/<%= photo.user.user_name %>">unfollow</a><a class="profile" onclick="window.location.reload( true );" href="/profile/<%= photo.user.user_name %>">profile</a></div>
             </div>


      <% end %>
         </div>
    </div>
    </div>
  </div>
  <div class="span3">
    <div class="span3">
      <div class="bs-docs">
        <div class="profile">
          <form action='/profile' class="form-signin" method="POST" id="profileForm">
            <input type="text" id="firstname" class="input-block-level" value="<%= @first %>" name="first_name">
            <input type="text" id="lastname"  class="input-block-level" value=<%= @last %> name = "last_name">
            <input type="text" id="email"  class="input-block-level" value=<%= @email %> name = "email_address">
            <button class="btn btn-large btn-primary" type="submit" onClick="">Update</button>
          </form>
          <div class="warning"><strong class="delete text-error text-delete">PROFILE CHANGED</strong></div>
        </div>
      </div>
    </div>



    <div class="span3">
      <div class="bs-docs">
        <h4 class="text-info" >You are not following:</h4>
        <div id="templist">
         <ul class="unstyled">
          <% @not_following.each do |user| %>
            <li><%= user %> -
             <a onClick="window.location.reload( true );" href="/follow/<%= user %>">follow</a>
             <a onClcik="window.location.reload( true );" href="/profile/<%= user %>">details</a>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="span3">
      <div class="bs-docs">
        <h4 class="text-info" >Following:</h4>
        <ul class ="unstyled">
        <% @following.each do |user| %>
          <li><%= user %> -
            <a onClick="window.location.reload( true );" href="/unfollow/<%= user %>">unfollow</a>
             <a onClick="window.location.reload( true );"href="/profile/<%= user %>">details</a>
          </li>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="span3">
      <div class="bs-docs">
        <h4 class="text-info">Followers:</h4>
        <ul class="unstyled">
        <% @followed.each do |user| %>
            <li><%=user %> -
              <a  onClick="window.location.reload( true);" href="profile/<%= user %>">details</a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>



//flashWarning
// Create the label for the photos

//   // @myphotos.map{|photo| photo.user.user_name.inspect}
// var setLabel = function(){
//   var user = $(this).data('user')

//   var photoDivs = $('.medium-photo');
//   var name = "<Strong class='name'>"+user+"</strong>";
//   var follow = "<a class='follow' onClick='window.location.reload( true );' href='/follow/"+user+"'>follow</a>";
//   var profile = "<a class='profile' onClick='window.location.reload( true );' href='/profile/"+user+"'>profile</a>";
//   var label = "<div class='label'>"+name+follow+profile+"</div>"
//   //console.log(follow)

//   photoDivs.each(function(index, photo){
//     $(photo).append(label);
//   })
// }
// var removeLabel = function()
// {
//   var labels = $('.label');
//   //console.log(labels)
//   // labels.each(function(index, divie){
//   //   divie.parentNode.removeChild(divie);
//   // })
//   labels.remove();
// }

// //jQuery(".medium-photo").on('mouseover', setLabel);
// //jQuery(".medium-photo").one('mouseover', setLabel);
// //jQuery(".medium-photo").on('mouseout', removeLabel);


</script>